<header class="header">
    <div class="container">
        <a href="/" class="logo">logo</a>
        <div class="header__right">
            <form action="" class="top-search-form clr">
                <button class="top-search-form__toggle"></button>
                <div class="top-search-form__input-wrap">
                    <input type="text" class="t-input top-search-form__input" value="Бронирование">
                </div>
                <ul class="top-search-form__tips">
                    <li class="top-search-form__tips-item">Бронирование отелей</li>
                    <li class="top-search-form__tips-item">Бронирование авиа билетов</li>
                </ul>
            </form>
            <div class="menu">
                <a href="#" class="menu__toggle"></a>
                <div class="menu__content">
                    <nav class="top-nav">
                        <ul class="top-nav__list">
                            <li class="top-nav__list-item">
                                <a href="#" class="top-nav__list-item-link">Категория <span class="top-nav__list-item-link-arrow"></span></a>
                                <div class="top-nav__sub top-nav__sub_x-2 clr">
                                    <ul class="top-nav__sub-list">
                                        <li class="top-nav__sub-list-item">
                                            <a href="#" class="top-nav__sub-list-item-link">Бронирование отелей</a>
                                        </li>
                                        <li class="top-nav__sub-list-item">
                                            <a href="#" class="top-nav__sub-list-item-link">Аренда автомобилей</a>
                                        </li>
                                        <li class="top-nav__sub-list-item">
                                            <a href="#" class="top-nav__sub-list-item-link">Лайфхаки для перелетов</a>
                                        </li>
                                    </ul>
                                    <ul class="top-nav__sub-list">
                                        <li class="top-nav__sub-list-item">
                                            <a href="#" class="top-nav__sub-list-item-link">Блоги</a>
                                        </li>
                                        <li class="top-nav__sub-list-item">
                                            <a href="#" class="top-nav__sub-list-item-link">Путешествие по Азии</a>
                                        </li>
                                        <li class="top-nav__sub-list-item">
                                            <a href="#" class="top-nav__sub-list-item-link">Путешествие по Африке</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="top-nav__list-item">
                                <a href="#" class="top-nav__list-item-link">О Сервисе</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="lang-select ui-front">
                        <select class="selectmenu">
                            <option value="">Рус</option>
                            <option value="">Eng</option>
                            <option value="">Fr</option>
                        </select>
                    </div>
                    <div class="btn-offer-wrap">
                        <a href="#" class="btn btn_sm" data-popup="popup-offer">Предложить ресурс</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>