{% extends 'base.html' %}

{% block content %}
    <div class="bg-block"></div>
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__item-link">{{ _('Main') }}</a></li>
            <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__item-link">{{ category.name }}</a></li>
        </ul>
    </div>
    <section class="section-category">
        <div class="container">
            <div class="clr">
                <h2 class="section-title">{{ category.name }}</h2>
                <div class="section-category__sort">
                    <span class="section-category__sort-label">{{ _('Sort by') }}:</span>
                    <div class="section-category__sort-select">
                        <form action=".">
                            {{ render_field(form.order, class="selectmenu") }}
                        </form>
                    </div>
                </div>
            </div>

            <div class="catalog catalog_style-2 clr">
                {% for resource in resources %}
                    {% with resource=resource.object %}
                        {% include 'resources/preview_resource.html' %}
                    {% endwith %}
                {% endfor %}
                <div class="catalog__offer-btn-wrap">
                    <a href="#" class="btn btn_xs">{{ _('Suggest a resource') }}</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}