{% extends 'base.html' %}


{% block content %}
    <section class="section-main">
			<div class="container">
				<h2 class="section-title">{{  _("It's easy to travel with us") }}</h2>
				{% include 'search/big_search_form.html' %}
				<div class="catalog-slider-last">
					<h2 class="section-title">{{ _('Latest resources') }}</h2>
					<div class="catalog catalog_style-2">
                        {% for resource in last_resources %}
						    {% include 'resources/preview_resource.html'  %}
                        {% endfor %}
					</div>
				</div>
			</div>
		</section>

		<section class="section-resources">
			<div class="container">
				<h2 class="section-title">{{ _('Resources and instruments') }}</h2>

                <div class="catalog clr">
                    {% for category in jinja2_get_all_categories() %}
					<article class="catalog__item">
                        <a href="{{ category.get_absolute_url() }}" class="catalog__item-link"></a>
						<div class="catalog__item-inner">
							<ul class="catalog__item-links">
								<li class="catalog__item-links-item"><a href="{{ category.get_absolute_url() }}" class="catalog__item-links-link">{{ category.resources.count() }}</a></li>
							</ul>
							<h3 class="catalog__item-title">{{ category.name }}</h3>
							<a href="{{ category.get_absolute_url() }}" class="catalog__item-more">{{ _('Go to collection') }}</a>
						</div>
					</article>
                    {% endfor %}
					<div class="catalog__offer-btn-wrap">
						<a href="#" class="btn btn_xs" data-popup="popup-offer">{( _('Suggest a resource') }}</a>
					</div>
				</div>
			</div>
		</section>
{% endblock %}