<footer class="footer">
    <div class="container">
        <p class="copyright">Tour subscriptions 2017</p>
        <ul class="socials">
            <li class="socials__item">
                <a href="{{ config.FACEBOOK_LINK }}" class="socials__link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li class="socials__item">
                <a href="{{ config.TWITTER_LINK }}" class="socials__link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li class="socials__item">
                <a href="{{ config.LINKEDIN_LINK }}" class="socials__link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</footer>