{% extends 'base.html' %}

{% block content %}
    <section class="section-main">
			<div class="container">
				<h2 class="section-title">С нами путешествовать легко</h2>
				<form action="" class="search-form">
					<div class="search-form__inner">
						<input type="text" class="t-input search-form__input" placeholder="Поиск">
						<input type="submit" value="Найти" class="btn search-form__submit">
					</div>
				</form>
				<div class="catalog-slider-last">
					<h2 class="section-title">Последние ресурсы</h2>
					<div class="catalog catalog_style-2">
						<article class="catalog__item">
							<div class="catalog__item-inner">
								<h3 class="catalog__item-title"><a href="#">Авиа билеты в Катманду</a></h3>
								<p>Консультация с широким активом обеспечивает широкому кругу участие в формировании модели развития Повседневная практика показывает, что постоянный количественный рост</p>
							</div>
						</article>
						<article class="catalog__item">
							<div class="catalog__item-inner">
								<h3 class="catalog__item-title"><a href="#">Авиа билеты в Катманду</a></h3>
								<p>Консультация с широким активом обеспечивает широкому кругу участие в формировании модели развития Повседневная практика показывает, что постоянный количественный рост</p>
							</div>
						</article>
						<article class="catalog__item">
							<div class="catalog__item-inner">
								<h3 class="catalog__item-title"><a href="#">Авиа билеты в Катманду</a></h3>
								<p>Консультация с широким активом обеспечивает широкому кругу участие в формировании модели развития Повседневная практика показывает, что постоянный количественный рост</p>
							</div>
						</article>
						<article class="catalog__item">
							<div class="catalog__item-inner">
								<h3 class="catalog__item-title"><a href="#">Авиа билеты в Катманду</a></h3>
								<p>Консультация с широким активом обеспечивает широкому кругу участие в формировании модели развития Повседневная практика показывает, что постоянный количественный рост</p>
							</div>
						</article>
						<article class="catalog__item">
							<div class="catalog__item-inner">
								<h3 class="catalog__item-title"><a href="#">Авиа билеты в Катманду</a></h3>
								<p>Консультация с широким активом обеспечивает широкому кругу участие в формировании модели развития Повседневная практика показывает, что постоянный количественный рост</p>
							</div>
						</article>
						<article class="catalog__item">
							<div class="catalog__item-inner">
								<h3 class="catalog__item-title"><a href="#">Авиа билеты в Катманду</a></h3>
								<p>Консультация с широким активом обеспечивает широкому кругу участие в формировании модели развития Повседневная практика показывает, что постоянный количественный рост</p>
							</div>
						</article>
					</div>
				</div>
			</div>
		</section>

		<section class="section-resources">
			<div class="container">
				<h2 class="section-title">Ресурсы и инструменты</h2>
				<div class="catalog clr">
					<article class="catalog__item">
						<div class="catalog__item-inner">
							<ul class="catalog__item-links">
								<li class="catalog__item-links-item"><a href="#" class="catalog__item-links-link">9</a></li>
							</ul>
							<h3 class="catalog__item-title">Лайфхаки для перелетов</h3>
							<a href="#" class="catalog__item-more">Перейти в колекцию</a>
						</div>
					</article>
					<article class="catalog__item">
						<div class="catalog__item-inner">
							<ul class="catalog__item-links">
								<li class="catalog__item-links-item"><a href="#" class="catalog__item-links-link">9</a></li>
							</ul>
							<h3 class="catalog__item-title">Лайфхаки для перелетов</h3>
							<a href="#" class="catalog__item-more">Перейти в колекцию</a>
						</div>
					</article>
					<article class="catalog__item">
						<div class="catalog__item-inner">
							<ul class="catalog__item-links">
								<li class="catalog__item-links-item"><a href="#" class="catalog__item-links-link">9</a></li>
							</ul>
							<h3 class="catalog__item-title">Лайфхаки для перелетов</h3>
							<a href="#" class="catalog__item-more">Перейти в колекцию</a>
						</div>
					</article>
					<article class="catalog__item">
						<div class="catalog__item-inner">
							<ul class="catalog__item-links">
								<li class="catalog__item-links-item"><a href="#" class="catalog__item-links-link">9</a></li>
							</ul>
							<h3 class="catalog__item-title">Лайфхаки для перелетов</h3>
							<a href="#" class="catalog__item-more">Перейти в колекцию</a>
						</div>
					</article>
					<article class="catalog__item">
						<div class="catalog__item-inner">
							<ul class="catalog__item-links">
								<li class="catalog__item-links-item"><a href="#" class="catalog__item-links-link">9</a></li>
							</ul>
							<h3 class="catalog__item-title">Лайфхаки для перелетов</h3>
							<a href="#" class="catalog__item-more">Перейти в колекцию</a>
						</div>
					</article>
					<article class="catalog__item">
						<div class="catalog__item-inner">
							<ul class="catalog__item-links">
								<li class="catalog__item-links-item"><a href="#" class="catalog__item-links-link">9</a></li>
							</ul>
							<h3 class="catalog__item-title">Лайфхаки для перелетов</h3>
							<a href="#" class="catalog__item-more">Перейти в колекцию</a>
						</div>
					</article>
					<article class="catalog__item">
						<div class="catalog__item-inner">
							<ul class="catalog__item-links">
								<li class="catalog__item-links-item"><a href="#" class="catalog__item-links-link">9</a></li>
							</ul>
							<h3 class="catalog__item-title">Лайфхаки для перелетов</h3>
							<a href="#" class="catalog__item-more">Перейти в колекцию</a>
						</div>
					</article>
					<article class="catalog__item">
						<div class="catalog__item-inner">
							<ul class="catalog__item-links">
								<li class="catalog__item-links-item"><a href="#" class="catalog__item-links-link">9</a></li>
							</ul>
							<h3 class="catalog__item-title">Лайфхаки для перелетов</h3>
							<a href="#" class="catalog__item-more">Перейти в колекцию</a>
						</div>
					</article>
					<article class="catalog__item">
						<div class="catalog__item-inner">
							<ul class="catalog__item-links">
								<li class="catalog__item-links-item"><a href="#" class="catalog__item-links-link">9</a></li>
							</ul>
							<h3 class="catalog__item-title">Лайфхаки для перелетов</h3>
							<a href="#" class="catalog__item-more">Перейти в колекцию</a>
						</div>
					</article>
					<article class="catalog__item">
						<div class="catalog__item-inner">
							<ul class="catalog__item-links">
								<li class="catalog__item-links-item"><a href="#" class="catalog__item-links-link">9</a></li>
							</ul>
							<h3 class="catalog__item-title">Лайфхаки для перелетов</h3>
							<a href="#" class="catalog__item-more">Перейти в колекцию</a>
						</div>
					</article>
					<article class="catalog__item">
						<div class="catalog__item-inner">
							<ul class="catalog__item-links">
								<li class="catalog__item-links-item"><a href="#" class="catalog__item-links-link">9</a></li>
							</ul>
							<h3 class="catalog__item-title">Лайфхаки для перелетов</h3>
							<a href="#" class="catalog__item-more">Перейти в колекцию</a>
						</div>
					</article>
					<article class="catalog__item">
						<div class="catalog__item-inner">
							<ul class="catalog__item-links">
								<li class="catalog__item-links-item"><a href="#" class="catalog__item-links-link">9</a></li>
							</ul>
							<h3 class="catalog__item-title">Лайфхаки для перелетов</h3>
							<a href="#" class="catalog__item-more">Перейти в колекцию</a>
						</div>
					</article>
					<div class="catalog__offer-btn-wrap">
						<a href="#" class="btn btn_xs" data-popup="popup-offer">Предложить ресурс</a>
					</div>
				</div>
			</div>
		</section>
{% endblock %}