<!doctype html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
	<link rel="stylesheet" href="css/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="js/slick/slick.css">
	<link rel="stylesheet" href="js/selectmenu/jquery-ui.css">
	<link rel="stylesheet" href="css/style.css">
	<title>tourism</title>
</head>
<body>

	<header class="header">
		<div class="container">
			<a href="/" class="logo">logo</a>
			<div class="header__right">
				<form action="" class="top-search-form clr">
					<button class="top-search-form__toggle"></button>
					<div class="top-search-form__input-wrap">
						<input type="text" class="t-input top-search-form__input" value="Бронирование">
					</div>
					<ul class="top-search-form__tips">
						<li class="top-search-form__tips-item">Бронирование отелей</li>
						<li class="top-search-form__tips-item">Бронирование авиа билетов</li>
					</ul>
				</form>
				<div class="menu">
					<a href="#" class="menu__toggle"></a>
					<div class="menu__content">
						<nav class="top-nav">
							<ul class="top-nav__list">
								<li class="top-nav__list-item">
									<a href="#" class="top-nav__list-item-link">Категория <span class="top-nav__list-item-link-arrow"></span></a>
									<div class="top-nav__sub top-nav__sub_x-2 clr">
										<ul class="top-nav__sub-list">
											<li class="top-nav__sub-list-item">
												<a href="#" class="top-nav__sub-list-item-link">Бронирование отелей</a>
											</li>
											<li class="top-nav__sub-list-item">
												<a href="#" class="top-nav__sub-list-item-link">Аренда автомобилей</a>
											</li>
											<li class="top-nav__sub-list-item">
												<a href="#" class="top-nav__sub-list-item-link">Лайфхаки для перелетов</a>
											</li>
										</ul>
										<ul class="top-nav__sub-list">
											<li class="top-nav__sub-list-item">
												<a href="#" class="top-nav__sub-list-item-link">Блоги</a>
											</li>
											<li class="top-nav__sub-list-item">
												<a href="#" class="top-nav__sub-list-item-link">Путешествие по Азии</a>
											</li>
											<li class="top-nav__sub-list-item">
												<a href="#" class="top-nav__sub-list-item-link">Путешествие по Африке</a>
											</li>
										</ul>
									</div>
								</li>
								<li class="top-nav__list-item">
									<a href="#" class="top-nav__list-item-link">О Сервисе</a>
								</li>
							</ul>
						</nav>
						<div class="lang-select ui-front">
							<select class="selectmenu">
								<option value="">Рус</option>
								<option value="">Eng</option>
								<option value="">Fr</option>
							</select>
						</div>
						<div class="btn-offer-wrap">
							<a href="#" class="btn btn_sm" data-popup="popup-offer">Предложить ресурс</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<main>
		<section class="section-search-not-found">
			<div class="container">
				<img src="img/icon-compass.svg" alt="" class="section-search-not-found__icon">
				<p>Ваш запрос <span class="section-search-not-found__request">«dvdfgbfgbfg»</span> не найден</p>
			</div>
		</section>
		
		<section class="section-subs">
			<div class="container">
				<h2 class="section-title">Подписаться на новости</h2>
				<h3>Все полезные ресурсы для путешествия в одном месте. Открывайте новые города с нами.</h3>
				<form action="" class="subs-form">
					<div class="subs-form__inner clr">
						<div class="input-wrap">
							<input type="email" class="t-input subs-form__input" placeholder="Email" required>
						</div>
						<input type="submit" value="Подписаться" class="btn subs-form__submit">
					</div>
				</form>
			</div>
		</section>
		
		<section class="section-about">
			<div class="container">
				<div class="section-about__text">
					<h2 class="section-title">О сервисе</h2>
					<p>Мы сделали подборку по сервисам, которые помогут Вам путешествовать с удобством.</p>
					<p>Некоторые сервисы расскажут отом как забронировать от отеля до автомобиля, а некоторые - как найти удивительные места, воспользоваться услугами гида или сэкономить.</p>
				</div>
				<div class="section-about__share">
					<p>Поделитесь с нами интересными ресурсами</p>
					<a href="#" class="btn btn_light btn_xs section-about__share-btn" data-popup="popup-offer">Предложить ресурс</a>
				</div>
			</div>
		</section>
	</main>
	
	<footer class="footer">
		<div class="container">
			<p class="copyright">Tour subscriptions 2017</p>
			<ul class="socials">
				<li class="socials__item">
					<a href="#" class="socials__link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				</li>
				<li class="socials__item">
					<a href="#" class="socials__link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				</li>
				<li class="socials__item">
					<a href="#" class="socials__link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
				</li>
			</ul>
		</div>
	</footer>
	
	<div class="popup popup-offer" id="popup-offer">
		<div class="popup__window">
			<a href="#" class="popup__close"></a>
			<h2 class="popup__title">Здорово делиться интересными ресурсами!</h2>
			<form class="offer-form">
				<div class="offer-form__two-inputs clr">
					<div class="input-wrap">
						<input type="text" name="offer-name" placeholder="Название сервиса" class="t-input" required>
					</div>
					<div class="input-wrap">
						<select name="offer-category" required>
							<option>Категория</option>
							<option value="Бронирование жилья">Бронирование жилья</option>
						</select>
					</div>
				</div>
				<div class="input-wrap">
					<input type="url" name="offer-url" placeholder="URL сервиса" class="t-input" required>
				</div>
				<div class="input-wrap">
					<textarea name="offer-desc" placeholder="Описание"></textarea>
				</div>
				<input type="submit" value="Предложить ресурс" class="btn btn_lg">
			</form>
			<div class="popup-offer__thank">
				<div class="popup-offer__thank-inner">
					<img src="img/icon-ok.png" alt="" class="popup-offer__thank-icon">
					<p>Спасибо ваш ресурс <br>принят!</p>
				</div>
			</div>
		</div>
	</div>

	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/slick/slick.min.js"></script>
	<script src="js/selectmenu/jquery-ui.min.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>